; vi: ft=dosini
; This file is managed by Ansible. Manual changes will be overridden.
; DO NOT CHANGE!

{% macro procval(key, val) -%}
{% if val is mapping %}
[{{ key }}]
{% for k, v in val.items() %}{{ procval(k,v) }}
{% endfor -%}
{%- elif val is sameas true or val is sameas false -%}
{{ key }} = {{ val | string | lower }}
{%- else -%}
{{ key }} = {{ val }}
{%- endif -%}
{% endmacro %}

{% for key in gitea.config -%}
{{ procval(key, gitea.config[key]) }}
{% endfor %}
