# vi: ft=debsources
# This file is managed by Ansible. Do NOT change.

deb https://packages.icinga.com/debian icinga-{{ ansible_facts.distribution_release }} main
deb-src https://packages.icinga.com/debian icinga-{{ ansible_facts.distribution_release }} main
