# vi: ft=debsources
# This file is managed by Ansible. Do NOT change.

deb https://packages.rundeck.com/pagerduty/rundeck/any/ any main
deb-src https://packages.rundeck.com/pagerduty/rundeck/any/ any main
